.App {
  text-align: center;
  margin-left: 13%;
  margin-top: 10%;
  border: 1px solid black;
  width: 70%;
  height: calc(100% - 100px);
  
 
}
.wrapper{
    display: flex;
    margin:20px;
    justify-content: space-around;
}
button{
  margin:auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100px;
  height: 35px;
}
h4{
  text-align: start;
}